ec2_url = "https://api.cloud.croc.ru"
s3_url = "https://storage.cloud.croc.ru"

secret_key = "<your_secret_key>"

access_key = "<your_access_key>"

region = "croc"

az = "ru-msk-vol51"

account_id = "<your_access_key>"

instance_type = "<desired_instance_type>"

ami = "<desired_ami_id>"

public_ipv4_pool = "<public_pool>"

template_owner = "templates@cloud.croc.ru"

template_name = "Fedora 29 [Cloud image]"
