ec2_url = "https://ec2.k2.cloud"
s3_url = "https://s3.k2.cloud"

secret_key = "<your_secret_key>"

access_key = "<your_access_key>"

region = "region-1"

az = "ru-msk-vol51"

account_id = "<your_access_key>"

instance_type = "<desired_instance_type>"

ami = "<desired_ami_id>"

public_ipv4_pool = "<public_pool>"

template_owner = "templates@k2.cloud"

template_name = "Fedora 29 [Cloud image]"

switch_id = ""
